nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
        background: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.5s ease;
        padding: 0.5rem;
        border: 2px solid rgb(65, 65,65);
        &:hover{
            background-color: rgb(65, 65,65);
            color: white; 
        }
    }
}

@media screen and (max-width: 768px) {
    button{
        z-index: 2;
    }
    svg{
        margin-left: 5px;
    }   
}